[data-frz-id="rfaxcmraenn"] { background-color: rgb(255, 255, 255) !important; overflow: hidden !important; z-index: 10 !important; }

[data-frz-id="30co36fmymi"] { z-index: 100 !important; }

[data-frz-id="2akuwwlrfst"] { background-color: rgb(26, 26, 26) !important; z-index: 10 !important; }

[data-frz-id="tovi7qf0lum"] { background-color: rgba(0, 0, 0, 0) !important; }

[data-frz-id="lpfsr732bd9"],
[data-frz-id="icw3lq2qdz"],
[data-frz-id="51extpwx4nb"],
[data-frz-id="zwr7bx42a"],
[data-frz-id="hnfb57vl4gt"],
[data-frz-id="vrto1ct0i1"],
[data-frz-id="r2cji5xpika"],
[data-frz-id="hsud7omr22a"],
[data-frz-id="hxbwula4vom"] { background-color: rgb(255, 255, 255) !important; }

[data-frz-id="cbp98l87cf"] { display: none !important; }

[data-frz-id="5vcwy7fs9td"] { opacity: 0 !important; background-color: rgba(26, 26, 26, 0.6) !important; }

[data-frz-id="347pb2u9y4e"],
[data-frz-id="u643saghmh"] { overflow: auto !important; }

[data-frz-id="9becyprxmcf"] { width: 100% !important; height: 0% !important; background-color: rgb(26, 26, 26) !important; }

[data-frz-id="e5omt2vnzso"],
[data-frz-id="3r5lifrzlfu"] { opacity: 0 !important; }

[data-frz-id="pcrkqarks5"],
[data-frz-id="z8i24gmlgi8"],
[data-frz-id="ivgn7393f0h"] { background-color: rgb(255, 255, 255) !important; overflow: hidden !important; }

[data-frz-id="zn0qv2zsfc"],
[data-frz-id="n0ss7srzjr"] { translate: none !important; rotate: none !important; scale: none !important; transform: translate(-41.6667%, 0%) translate3d(0px, 0px, 0px) !important; }

[data-frz-id="bzbfltooplw"],
[data-frz-id="2celdks47f7"] { color: rgb(246, 246, 246) !important; }

[data-frz-id="p2vgm8ecrj"],
[data-frz-id="sp1f1wobpz"],
[data-frz-id="vamb0q9fkqn"],
[data-frz-id="8xgxp48wjg8"],
[data-frz-id="4jmpdb3fbzt"],
[data-frz-id="uoijxvadaca"],
[data-frz-id="uq0ou0ru4b"],
[data-frz-id="tamuwuvoy5q"],
[data-frz-id="kogj65fi02r"],
[data-frz-id="0qcihn71ol0n"],
[data-frz-id="693qq3qoqaj"],
[data-frz-id="ulhcv1n4txc"],
[data-frz-id="aynco568l2e"],
[data-frz-id="d9obb3vc98b"],
[data-frz-id="v6bahnt0tve"],
[data-frz-id="k9phneily3"],
[data-frz-id="642jbzmur0c"],
[data-frz-id="laz6ixh693p"],
[data-frz-id="2mvlrx8ccyh"],
[data-frz-id="tfvb0ecmp2h"],
[data-frz-id="5vom2vhle03"],
[data-frz-id="9sagdk77scr"],
[data-frz-id="uslptllt0t7"] { opacity: 0.6 !important; }

[data-frz-id="j25o9vb0nib"],
[data-frz-id="8z8amx6dcyq"],
[data-frz-id="820ishmvz9e"] { color: rgb(255, 255, 255) !important; }

[data-frz-id="i0f3hcxz7g"] {
  translate: none !important;
  rotate: none !important;
  scale: none !important;
  /* transform removed to allow animation */
  animation: marqueeVerticalScroll 20s linear infinite !important;
}

@keyframes marqueeVerticalScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

[data-frz-id="2to6axutuhk"],
[data-frz-id="ekjxe30eyje"],
[data-frz-id="s8nu8alfe1g"],
[data-frz-id="nsxeeewelul"],
[data-frz-id="7edfty4vsc2"],
[data-frz-id="lsfr8nm1zqa"],
[data-frz-id="8m2bvowrgl4"],
[data-frz-id="c2nycmpxwvo"],
[data-frz-id="1c0ro4vzs7z"],
[data-frz-id="ptcv1uzxekp"],
[data-frz-id="t45gg89fzd"],
[data-frz-id="01oupn2jde18"] { background-color: rgb(26, 26, 26) !important; }

[data-frz-id="pr43xoi64h"],
[data-frz-id="9a97sgcsyb"] { background-color: rgb(26, 26, 26) !important; color: rgb(255, 255, 255) !important; }

[data-frz-id="vo8ttevbw5"],
[data-frz-id="mq4qy58jls"],
[data-frz-id="0v9fs38brk8b"],
[data-frz-id="9mehefxzgnk"],
[data-frz-id="5yeg6at0ns"],
[data-frz-id="cj3ioigntu"],
[data-frz-id="2ansm5n6mog"] { overflow: hidden !important; }

[data-frz-id="6poak34r3qk"],
[data-frz-id="90xkoae8jq9"],
[data-frz-id="1qknhf4a6wej"],
[data-frz-id="fts43eh3t2"],
[data-frz-id="fu0t9vc0wjw"],
[data-frz-id="bbp7l1wr5p"] { translate: none !important; rotate: none !important; scale: none !important; transform: translate(0px, 0%) !important; }

[data-frz-id="2no4qpp0r8a"],
[data-frz-id="3szqizbqiac"] { translate: none !important; rotate: none !important; scale: none !important; transform: translate(0px, 0px) !important; background-color: rgba(255, 255, 255, 0) !important; border-color: rgb(255, 255, 255) !important; }

[data-frz-id="ae9f80k0sf"],
[data-frz-id="9i03dfnwrs"],
[data-frz-id="iuz46he3g27"] { border-color: rgba(26, 26, 26, 0.1) rgb(26, 26, 26) rgb(26, 26, 26) !important; }

[data-frz-id="hjeo6m11y68"],
[data-frz-id="ibhulzpz56"],
[data-frz-id="8z8kj42gyu7"],
[data-frz-id="ak7ulr7sdkg"],
[data-frz-id="vowgcl03nco"],
[data-frz-id="zp8gw1wt3h"],
[data-frz-id="tu4ldv5ctu"],
[data-frz-id="nwo9yplk54"] { background-color: rgb(255, 255, 255) !important; border-color: rgb(26, 26, 26) !important; }

[data-frz-id="qxwksj3e5p"] { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; }

[data-frz-id="npkda7i2n2b"] { color: rgba(26, 26, 26, 0.1) !important; }

[data-frz-id="nya9g006oa"],
[data-frz-id="oxpmks7yacs"] { border-color: rgb(26, 26, 26) !important; }

[data-frz-id="9fx5mg57h18"],
[data-frz-id="qf6r8yfhio"],
[data-frz-id="dqq0k3l5lm"],
[data-frz-id="qbxqeqt56yl"],
[data-frz-id="s5wcuxp1xd"],
[data-frz-id="kib8zmawcgg"] { color: rgba(26, 26, 26, 0.6) !important; }

[data-frz-id="bemv3qvsnzr"] { padding-top: 56.1702% !important; background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg') !important; background-position: 50% 50% !important; background-size: cover !important; }

[data-frz-id="gxn78jsc8xp"],
[data-frz-id="todnymexeup"],
[data-frz-id="cw1ygf9cp4v"],
[data-frz-id="16f271796y9"],
[data-frz-id="a5951a06ead"],
[data-frz-id="di7g5mw5o3"] { border-color: rgb(26, 26, 26) rgb(26, 26, 26) rgba(26, 26, 26, 0.1) !important; }

[data-frz-id="xvnvkr870cs"],
[data-frz-id="9qy4ma31yl"],
[data-frz-id="y6p8oiync7j"],
[data-frz-id="ukuyqpgt80f"],
[data-frz-id="6b3b15l4phh"],
[data-frz-id="pvczmeo3d5h"] { color: rgba(26, 26, 26, 0.8) !important; }

[data-frz-id="5jmrdsmkb7p"] { background-color: rgb(246, 246, 246) !important; }

[data-frz-id="s2qm09ctx1"] { translate: none !important; rotate: none !important; scale: none !important; transform: translate(0px, 0px) !important; background-color: rgba(255, 255, 255, 0) !important; border-color: rgb(26, 26, 26) !important; }

[data-frz-id="yiy744tybxp"],
[data-frz-id="tg0uj3fp8in"],
[data-frz-id="5psp6g5xmng"],
[data-frz-id="tktvb9h1nef"],
[data-frz-id="9druvntucnf"],
[data-frz-id="ssc854ucx3"],
[data-frz-id="0fmg510gnjf7"],
[data-frz-id="mi74m4mff0c"] { will-change: transform !important; transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; overflow: hidden !important; }

[data-frz-id="k875z2h2mr"],
[data-frz-id="fl1a7155nef"],
[data-frz-id="1gdcwmfvhwf"],
[data-frz-id="9dyxq0orq4m"],
[data-frz-id="r3moksypkjn"],
[data-frz-id="5gxosi64dvk"],
[data-frz-id="4xf6yapmqe5"],
[data-frz-id="ri0fmqh41f"] { will-change: transform !important; transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important; transform-style: preserve-3d !important; background-color: rgb(255, 255, 255) !important; border-color: rgb(26, 26, 26) !important; }

[data-frz-id="29nly197lor"] { background-color: rgb(255, 191, 1) !important; }

[data-frz-id="eyofmwpnz7"],
[data-frz-id="6i91g4b1mhj"],
[data-frz-id="xxhbhs2wcnp"] { position: relative !important; display: inline-block !important; }

[data-frz-id="bvt4kv6bk3m"],
[data-frz-id="w0i4mbkmftk"],
[data-frz-id="5mcb2ycgisy"],
[data-frz-id="y0wnq1q7l9"],
[data-frz-id="y0ccvzfopzf"],
[data-frz-id="mvvqzm8bd4h"],
[data-frz-id="mk4cqgmxpzs"],
[data-frz-id="6uxary6d1lc"],
[data-frz-id="dys3pwau2ho"],
[data-frz-id="gf01ozxzia8"] { position: relative !important; display: inline-block !important; translate: none !important; rotate: none !important; scale: none !important; transform: translate(0px, 0px) !important; }